@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
body{
	margin:0;
	padding:0px;
	background:url(../img/eiffel1.jpg) no-repeat;
	height: 90.8vh;
	background-size: 100% 100%;
	text-align: center;
}
body h1{
	margin-top: 7%; 
  /* font-size: x-large; */
}
.container{
	width: 40%;
	height: 80%;
	margin: -2% 27%;
	padding: 40px;
}
.textbox
{
	width:100%;
	overflow:hidden;
	font-size:20px;
	padding:20px 0;
}
.textbox input {
	border:2px solid #000;
	border-radius: 5px;
	outline:none;
	background: rgba(251, 204, 78, 0.5);
	color:white;
	font-size:18px;
	width: 50%;
	height: 30px;
	
}
.textbox input::placeholder{
	color: white;
}
.btn input{
	margin-top: 10px;
	width: 50%;
	height: 40px;
	border-radius: 8px;
	transition: 0.6s ease;
}
.btn input:hover{
	background-color: #FB4A0A;
}
.main{
  overflow: hidden;
  position: fixed;
  background-color: rgba(135,206,250,0.4);
  top: 0;
  width: 100vw;
  height: 8vh;
  max-width: 1550px;
}
/* ---------------------------------------------------------------- */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none; 
   
  text-transform: capitalize; /* follow us and contact info  data  */
  transition: .2s linear;/* follow us and contact info   data flow*/
 }
 html {
  font-size: 63.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
} 

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

.header
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.493);
}

.header.active {
  background: rgba(255, 254, 254, 0.979);/* header background color*/
 box-shadow: 0 0.5rem 1rem rgb(255, 254, 254);
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #10221b;
  font-weight: bolder;
}

.header .logo i {
  color: #219150;
}

.header .navbar a { /* icons setting  home ,about us,blogs ,contact us*/
  margin-left: 2rem;
  font-size: 1.7rem;
  color: #10221b;
}

.header .navbar a:hover { /* icons bacground color  home ,about us,blogs ,contact us*/
  color: #219150;
} 

.header .navbar #nav-close  /* close button settings */
{ 
  font-size: 5rem;
  cursor: pointer;
  color: #0f8356;
  display: none;
}

.header .icons a, /* header  icons bacground color searh and other with menu = this */
.header .icons div 
{
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}

.header .icons a:hover, /*button color change   when cursor on  that buttons ,search and menu */
.header .icons div:hover 
{
  color: #08d16c;
}

.header #menu-btn 
{
  display: none;
}

.search{
  display: inline;
  color: black;
  text-align: center;
  text-decoration: none;
}

.search input[type=text]{
  position: relative;
  float: left;
  top:-18px;
  left: 5%;
  padding: 6px;
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #0000ff;
  transition: 0.6s ease;
}

.search input[type=text]:hover{
  background-color: #dcdcdc;
}


.list input[type=image]{
  position: relative;
  float: right;
  top:-50px;
  left: 2%;
  margin-left: 20%; 
  padding: 4px;
  border-radius: 10px;
  border: 1px solid #00f;
  transition: 0.6s ease;
  background-color: #fff;
}

.list input[type=image]:hover{
  background-color: #739ac5;
}

