.contact-content{  
    height: 90vh;
    margin-top: 32px;
    padding: 9px;
    position: relative; 
    overflow: hidden;
  }
  
  .contact-content::after {
    content: "";
    background-image: url("../img/blog.png");
    position: absolute;
    top:0;
    /*width: 100%;
    height: 80%;*/
    opacity: 105;
    border-radius: 12px;
background-size:cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
  }
 